<!DOCTYPE html>
<html>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="icon" type="image/png" href="/assets/logo.PNG" />
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="og:image"
    content='https://www.worldcubeassociation.org/assets/og-wca_logo-d7533638dbb753b45e9969280ca4c13215fdb53774a27a451164066a016b2190.png' />
  <title>Kazakhstan Speedcubing Federation</title>
  <link rel="canonical" href="https://www.worldcubeassociation.org" />
  <script>
    window.wca = {
      currentLocale: 'ru',
    };
  </script>
  <link rel="stylesheet"
    href="../public/assets/application-104daffa3b320a58f11016d47fee1fb960924ba3213bbfc5e882be55bc27d571.css"
    media="all" />
  <script src="packs/js/runtime-7938f75aaf6de578850c.js"></script>
  <script src="packs/js/jquery-67644508c82866575bb3.js"></script>
  <script src="packs/js/vendor-840231f5ebc79c0cd90e.js"></script>
  <script src="packs/js/347-28f7bd8610cbcaa720eb.js"></script>
  <script src="packs/js/0-8d10846f05af5784b89f.js"></script>
  <script src="packs/js/204-1f44bcbfd1418fbb1826.js"></script>
  <script src="packs/js/127-a422b96ea63a18b084a2.js"></script>
  <script src="packs/js/792-977c22b0298c87dc1071.js"></script>
  <script src="packs/js/823-b4f1821a45008377a972.js"></script>
  <script src="packs/js/460-781ffbe609799f1f76c3.js"></script>
  <script src="packs/js/995-baa8cb3216a06b60cd05.js"></script>
  <script src="packs/js/754-6b0343cb1fb7f87a2218.js"></script>
  <script src="packs/js/application-cc1c4a0032c1c626f19c.js"></script>
  <script src="packs/js/global_styles-68a018c9be13dbd29fd4.js"></script>
  <script src="packs/js/i18n-18a97bc05f4da1c82f28.js"></script>
  <script src="packs/js/homepage-b9cca13e3d80f53d19c3.js"></script>
  <script src="packs/js/lodash_utils-59c0f4ace4648fe0ba89.js"></script>
  <link rel="stylesheet" href="packs/css/216-36035357.css" />
  <link rel="stylesheet" href="packs/css/272-5854f64f.css" />
  <link rel="stylesheet" href="packs/css/347-377360ff.css" />
  <link rel="stylesheet" href="packs/css/773-94f5ca70.css" />
  <link rel="stylesheet" href="packs/css/700-21052b36.css" />
  <script
    src="../public/assets/application-3420a68b5ecd97b428e153fac926004c768a766bf077eb68f308318449b3c4b4.js"></script>
  <meta name="csrf-param" content="authenticity_token" />
  <meta name="csrf-token"
    content="zJ7NWJAG1SpBtabO1M-an03Lmu67S41TxzObJWW1pOtwjmxi5xRZ0OmSKChgRcEIm6s15UuJBIYj-akq1R60Ew" />
</head>

<body data-rails-controller-name="posts" data-rails-controller-action-name="homepage">
  <%- include('navbar', { user: user }) %>
    <main>
      <div id="flash-alerts" class="container">
      </div>
      <div class="container">
      </div>
      <div id="homepage">
        <div class="ui fluid container" id="cover-homepage">
          <div class="ui fluid container">
            <h1 class="ui huge header inverted" id="welcome">
              Kazakhstan Speedcubing Federation
            </h1>
          </div>
          <div class="ui container cover-segments">
            <div class="ui four column stackable cards">
              <div class="ui card">
                <div class="content">
                  <h3 class="center aligned header">
                    О нас
                  </h3>
                  <div class="center aligned description">
                    Kazakhstan Speedcubing Federation управляет соревнованиями по сборке механических головоломок.
                  </div>
                </div>
                <div class="extra content">
                  <div class="center aligned">
                    <a class="ui button primary" href="about">Подробнее</a>
                  </div>
                </div>
              </div>
              <style>
                h3 {
                  position: relative;
                }

                sup {
                  position: absolute;
                  top: 5px;
                }
              </style>
              <div class="ui card">
                <div class="content">
                  <h3 class="center aligned header">
                    Соревнования
                  </h3>
                  <div class="center aligned description">
                    Узнайте о соревнованиях рядом с вами.
                  </div>
                </div>
                <div class="extra content">
                  <div class="center aligned">
                    <a class="ui button primary" href="competitions/all">Подробнее</a>
                  </div>
                </div>
              </div>
              <style>
                h3 {
                  position: relative;
                }

                sup {
                  position: absolute;
                  top: 5px;
                }
              </style>
              <style>
                h3 {
                  position: relative;
                }

                sup {
                  position: absolute;
                  top: 5px;
                }
              </style>
              <div class="ui card">
                <div class="content">
                  <h3 class="center aligned header">
                    Соцсети
                  </h3>
                  <div class="center aligned description">
                    Следите за нами в Instagram! Будьте в курсе последних новостей.
                  </div>
                </div>
                <div class="extra content">
                  <div class="center aligned">
                    <a class="ui button primary" href="https://www.instagram.com/cubing.kz">Подробнее</a>
                  </div>
                </div>
              </div>
              <style>
                h3 {
                  position: relative;
                }

                sup {
                  position: absolute;
                  top: 5px;
                }
              </style>
              <div class="ui card">
                <div class="content">
                  <h3 class="center aligned header">
                    FAQ
                  </h3>
                  <div class="center aligned description">
                    Если вам нужна помощь, взгляните на наш список часто задаваемых вопросов. Здесь уже есть ответы на
                    многие вопросы.
                  </div>
                </div>
                <div class="extra content">
                  <div class="center aligned">
                    <a class="ui button primary" href="faq">Подробнее</a>
                  </div>
                </div>
              </div>
              <style>
                h3 {
                  position: relative;
                }

                sup {
                  position: absolute;
                  top: 5px;
                }
              </style>
            </div>
          </div>
        </div>
        <div id="content-homepage">
          <div class="ui vertical stripe segment news-content">
            <div class="ui equal width stackable internally centered grid">
              <div class="row">
                <div class="column">
                  <h2 class="ui header">Последние новости</h2>
                  <div class="ui divider"></div>
                  <div class="ui items post-content">
                    <% if (typeof latestPost !=='undefined' && latestPost) { %>
                      <div class="item">
                        <div class="content">
                          <h3 class="ui header">
                            <a href="/posts/<%= latestPost._id %>">
                              <%= latestPost.title %>
                            </a>
                          </h3>
                          <!-- <div class="extra">
                            <% if (latestPost.author && latestPost.createdAt) { %>
                              Announced by <%= latestPost.author %> on <%= latestPost.createdAt.toDateString() %>
                                  <% } else { %>
                                    Announced by Unknown on Unknown
                                    <% } %>
                          </div> -->
                          <div class="description">
                            <%- latestPost.content %>
                          </div>
                        </div>
                      </div>
                      <a class="ui button primary center" href="/posts/<%= latestPost._id %>">Узнать подробнее</a>
                      <% } else { %>
                        <p>No posts available.</p>
                        <% } %>
                  </div>
                </div>

                <div class="column">
                  <h2 class="ui header">Объявления</h2>
                  <div class="ui divider"></div>
                  <ul id="posts_widget" class="ui list">
                    <% if (posts && posts.length> 0) { %>
                      <% posts.forEach(function(post) { %>
                        <li>
                          <a href="/posts/<%= post._id %>">
                            <%= post.title %>
                          </a>
                        </li>
                        <% }); %>
                          <% } else { %>
                            <p>Нет доступных объявлений или попробуйте перезагрузить страницу.</p>
                            <% } %>
                  </ul>
                  <a class="ui blue button" href="/posts">Посмотреть все объявления</a>
                </div>
              </div>
            </div>
          </div>
          <div class="ui container fluid">
            <div class="ui equal width stackable grid centered padded">
              <div class="column red">
                <div class="ui raised center aligned segment red inverted">
                  <h2 class="ui header inverted" style="color: #f4f4f4;">Контакты</h2>
                  <p style="color: #f4f4f4;">
                    Если вы хотите связаться с нами, вы можете сделать это через контактную форму. Перед этим пожалуйста
                    убедитесь, что вы посмотрели наш список <a href="faq" style="color: rgb(0, 0, 0);">частых
                      вопросов</a>!
                  </p>
                  <a class="ui red button" href="contact" style="color: rgb(0, 0, 0);">Открыть контактную форму</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <%- include('footer') %>
      <!-- this is for recaptcha -->
      <!-- <div class="cookies-eu js-cookies-eu">
    <span class="cookies-eu-content-holder">Cookies help us deliver our services. By using our services, you agree to
      our use of cookies.</span>
    <span class="cookies-eu-button-holder">
      <button class="cookies-eu-ok js-cookies-eu-ok"> OK </button>
    </span>
  </div> -->
</body>

</html>